
.card-0 {
    min-height: 110vh;
    background: linear-gradient(-20deg, #FC427B 50%, #1B1464 50%);
    color: white;
    border: 0px;
}

p {
    font-size: 15px;
    line-height: 25px !important;
    font-weight: 500;


}

input:focus {
    box-shadow: none !important;
    border: 1px solid #2196F3 !important;
    outline-width: 0 !important;
    font-weight: 400
}

label {
    margin-bottom: 2px;
    font-weight: bolder;
    font-size: 14px;
}

input:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

.form-control {
    height: calc(2em + .75rem + 3px);
}

.inner-card {
    margin: 30px 0px 30px 0px;
}

.card-0 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-1 {
    border-radius: 17px;
    color: black;
    box-shadow: 2px 4px 15px 0px rgb(0, 0, 0 , 0.5) !important;
}


